<!DOCTYPE html>
<html>
<head>
    <title>Portfólio</title>
</head>
<body>
    <header>
        <img src="" alt="logo">

            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About me</a></li>
                <li><a href="">Projects</a></li>
            </ul>

        <button>Contact me!</button>
    </header>

    <main>
        <section id="home">
            <img src="" alt="html logo">
            <img src="" alt="css logo">
            <img src="" alt="js logo">
            <img src="" alt="rails logo">
            <img src="" alt="github logo">
            <img src="" alt="me">

            <h1>Hello! 
            I’m Cecilia, a WEB DEVELOPER based in Brazil!</h1>
            <p>I have been working as a web developer since 2024.</p>
            <button>Contact me!</button>
            <button><a>github</a></button>
            <button><a>linkedin</a></button>
            <button><a>email</a></button>
        </section>

        <section id="projects">
            <h2>Projetos</h2>
            <ul>
                <%# @projects.each do |project| %>
                    <li>
                        <h3><%#= project.title %></h3>
                        <p><%#= project.description %></p>
                    </li>
                <%# end %>
            </ul>
        </section>

        <section id="about me">
            <h2>Sobre mim</h2>
            <p>My name is Cecilia, I am Brazilian and a web developer. I am very interested in technology and development, and I really love this field. I started my studies in 2023 when I began my degree in Software Engineering. After some time, in 2024, I started as an intern working in the field, and I have been working with it ever since!

            I want to continue my studies and gain a lot more knowledge in the world of technology, helping people, developing clean code software, and applying agile methodologies.

            My biggest dream is to travel the world, explore different cultures, and meet new people. This was one of the reasons I chose the field I work in today—because I believe that one day, I will be able to work from anywhere!

            Now that you know a little about me, check out my projects and skills in my portfolio!</p>
            <img src="" alt="programming">
            <img src="" alt="park">
            <img src="" alt="travel">
            <img src="" alt="view">
            <img src="" alt="programming">
        </section>

    </main>

    <footer>
        <h2>contact me!</h2>
            <p>If you liked my projects and need my skills, feel free to get in touch!</p>
            <button><a>linkedin</a></button>
            <button><a>email</a></button>
        <p>&copy; <%= Time.now.year %> Cecília Camargo Prado</p>
    </footer>
</body>
</html>